numpy>=1.22.0
scipy>=1.10.0
pillow>=9.0.0
opencv-python>=4.5.0
imageio>=2.6.0
scikit-learn>=1.0.0
tqdm>=4.60.0
matplotlib>=3.5.0
timm>=0.9.0
mmcv>=2.0.0
mmcv-full>=1.6.0
albumentations>=1.3.0
omegaconf>=2.0.0
joblib>=1.1.0
tifffile>=2020.9.0
rasterio>=1.3.0
tensorboard
progress
pytorch-lightning